*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
  outline: none;
  text-decoration: none;
}

body{
  background-image: url('/imagens/fundo_login.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

main{
  display: grid;
  grid-template-columns: repeat(2, if);
}
